@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
:root {
    --bg-default: #2a2a2a;
    --bg-dark: #444444;
    --bg-light: #f5f5f5;
    --text-default: #efefef;
    --text-disabled: #888888;
}
* {
    margin: 0;
    padding: 0;
    color: var(--text-default);
    box-sizing: border-box;
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: var(--text-default);
}
body {
    background-color: var(--bg-default);
    font-family: 'Poppins', sans-serif;
    height: 200vh
}

section {
    display: flex;
    position: relative;
    justify-content: center;
    gap: 1rem;
    height: 100vh;
    width: 100%;
    margin-inline: auto;
    background-color: #2a2a2a;
    z-index: 1;
}

header {
    position: sticky;
    top: 0;
    z-index: 999;
}
header > nav {
    height: 80px;
}

.navbar {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    /* background-color: var(--bg-default); */
}
.navbar > .navbar-item > .navbar-link {
    position: relative;
    font-size: 11pt;
    font-weight: 200;
    transition: all ease 200ms;
}
.navbar > .navbar-item > .navbar-link:hover {
    font-weight: 400;
    font-size: 13pt
}
.navbar > .navbar-item > .navbar-link::after {
    content: '';
    position: absolute;
    height: 3px;
    bottom: -8px;
    left: 50%;
    width: 0%;
    border-radius: 50px;
    background-color: var(--bg-light);
    transition: all cubic-bezier(.46,.03,.52,.96) 300ms;
}
.navbar > .navbar-item:hover > .navbar-link::after {
    height: 3px;
    left: 0;
    width: 92.5%;
}
.container {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#banner {
    margin-top: -80px;
}
.container-title {
    align-items: end;
    position: relative;
    margin-right: 2rem;
    z-index: 2;
}
.container-title:after {
    content: "";
    position: fixed;
    width: 40%;
    left: 0;
    height: 100%;
    background-color: var(--bg-light);
    border-radius: 0 1000px 1000px 0;
    background-position: fixed;
    background-origin: left;
    background-attachment: fixed;
    z-index: -1;
}
.container-title span {
    font-size: 10pt;
    font-weight: 300;
    color: var(--text-disabled);
}
.container-title > h1 {
    font-size: 72pt;
    margin-right: 0;
    max-width: 400px;
    text-align: right;
    line-height: 6rem;
    mix-blend-mode: difference;
}
#about {
    z-index: 10;
}